In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df=pd.read_csv('startup_funding.csv')

In [9]:
df.head()

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
0,1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN
2,3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
3,4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
4,5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3044 entries, 0 to 3043
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sr No              3044 non-null   int64
 1   Date dd/mm/yyyy    3044 non-null   object
 2   Startup Name       3044 non-null   object
 3   Industry Vertical  2873 non-null   object
 4   SubVertical        2108 non-null   object
 5   City  Location     2864 non-null   object
 6   Investors Name     3020 non-null   object
 7   InvestmentnType    3040 non-null   object
 8   Amount in USD      2084 non-null   object
 9   Remarks            419 non-null    object
dtypes: int64(1), object(9)
memory usage: 237.9+ KB

In [11]:
df.drop(columns=['Remarks'],inplace=True)

In [12]:
df.rename(columns={
    'Date dd/mm/yyyy':"Date",'Startup Name':'startup_name',
    'Industry Vertical':'industry_vertical','SubVertical':'subvertical',
    'City Location':'City','Investors Name':'invester_name',
    'InvestmentnType':'investment_type','Amount in USD':'amount'
    
},inplace=True)

In [13]:
df.head()

,Sr No,Date,startup_name,industry_vertical,subvertical,City Location,invester_name,investment_type,amount
0,1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000"
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394"
2,3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860"
3,4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000"
4,5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000"

In [14]:
df.rename(columns={
    'City  Location':'city',
    'Sr NO':'sr_no'
},inplace=True)

In [15]:
df.rename(columns={
    'Sr No':'sr_no'
},inplace=True)

In [16]:
df.head()

,sr_no,Date,startup_name,industry_vertical,subvertical,city,invester_name,investment_type,amount
0,1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000"
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394"
2,3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860"
3,4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000"
4,5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000"

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3044 entries, 0 to 3043
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sr_no              3044 non-null   int64
 1   Date               3044 non-null   object
 2   startup_name       3044 non-null   object
 3   industry_vertical  2873 non-null   object
 4   subvertical        2108 non-null   object
 5   city               2864 non-null   object
 6   invester_name      3020 non-null   object
 7   investment_type    3040 non-null   object
 8   amount             2084 non-null   object
dtypes: int64(1), object(8)
memory usage: 214.2+ KB

In [18]:
df.isna().sum()

sr_no                  0
Date                   0
startup_name           0
industry_vertical    171
subvertical          936
city                 180
invester_name         24
investment_type        4
amount               960
dtype: int64

In [19]:
df['amount'].fillna('0',inplace=True)

In [20]:
df['amount']=df['amount'].str.replace(',','').replace('undisclosed','0')

In [21]:
df['amount']=df['amount'].str.replace('unknown','0')

In [22]:
df['amount']=df['amount'].str.replace('Undisclosed','0')

In [23]:
df=df[df.amount.str.isdigit()]

In [24]:
df['amount']=df['amount'].astype('float')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3029 entries, 0 to 3043
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sr_no              3029 non-null   int64
 1   Date               3029 non-null   object
 2   startup_name       3029 non-null   object
 3   industry_vertical  2858 non-null   object
 4   subvertical        2104 non-null   object
 5   city               2849 non-null   object
 6   invester_name      3005 non-null   object
 7   investment_type    3027 non-null   object
 8   amount             3029 non-null   float64
dtypes: float64(1), int64(1), object(7)
memory usage: 236.6+ KB

In [26]:
df['Date']=pd.to_datetime(df['Date'],errors="coerce")

C:\Users\Vishal Ghuge\AppData\Local\Temp\ipykernel_24092\1567513291.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['Date']=pd.to_datetime(df['Date'],errors="coerce")

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3029 entries, 0 to 3043
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sr_no              3029 non-null   int64
 1   Date               3026 non-null   datetime64[ns]
 2   startup_name       3029 non-null   object
 3   industry_vertical  2858 non-null   object
 4   subvertical        2104 non-null   object
 5   city               2849 non-null   object
 6   invester_name      3005 non-null   object
 7   investment_type    3027 non-null   object
 8   amount             3029 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(6)
memory usage: 236.6+ KB

In [28]:
 df=df.dropna(subset=['Date','startup_name','industry_vertical','city','invester_name','amount','investment_type'])

In [29]:
df

,sr_no,Date,startup_name,industry_vertical,subvertical,city,invester_name,investment_type,amount
0,1,2020-09-01,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,200000000.0
1,2,2020-01-13,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,8048394.0
2,3,2020-09-01,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,18358860.0
3,4,2020-02-01,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,3000000.0
4,5,2020-02-01,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,1800000.0
...,...,...,...,...,...,...,...,...,...
2868,2869,2015-04-29,Tracxn,Startup Analytics platform,NaN,Bangalore,SAIF Partners,Private Equity,3500000.0
2869,2870,2015-04-29,Dazo,Mobile Food Ordering app,NaN,Bangalore,"Sumit Jain, Aprameya Radhakrishna, Alok Goel, ...",Seed Funding,0.0
2870,2871,2015-04-29,Tradelab,Financial Markets Software,NaN,Bangalore,Rainmatter,Seed Funding,400000.0
2871,2872,2015-04-29,PiQube,Hiring Analytics platform,NaN,Chennai,The HR Fund,Seed Funding,500000.0
2872,2873,2015-04-29,Travel Triangle,Online Travel Marketplace,NaN,Noida,"Bessemer Venture Partners, SAIF Partners",Private Equity,8000000.0

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2821 entries, 0 to 2872
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sr_no              2821 non-null   int64
 1   Date               2821 non-null   datetime64[ns]
 2   startup_name       2821 non-null   object
 3   industry_vertical  2821 non-null   object
 4   subvertical        2077 non-null   object
 5   city               2821 non-null   object
 6   invester_name      2821 non-null   object
 7   investment_type    2821 non-null   object
 8   amount             2821 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(6)
memory usage: 220.4+ KB

In [31]:
df.to_csv('startup_processed.csv',index=False)

In [32]:
df.columns

Index(['sr_no', 'Date', 'startup_name', 'industry_vertical', 'subvertical',
       'city', 'invester_name', 'investment_type', 'amount'],
      dtype='object')

In [33]:
len(set(df['invester_name'].str.split(',').sum()))

3457

In [34]:
len(df['startup_name'].unique())

2298

In [35]:
df.head()

,sr_no,Date,startup_name,industry_vertical,subvertical,city,invester_name,investment_type,amount
0,1,2020-09-01,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,200000000.0
1,2,2020-01-13,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,8048394.0
2,3,2020-09-01,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,18358860.0
3,4,2020-02-01,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,3000000.0
4,5,2020-02-01,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,1800000.0

In [36]:
# from sklearn.cluster import k_means

In [37]:
df['startup_name']

0                             BYJU’S
1                             Shuttl
2                          Mamaearth
3       https://www.wealthbucket.in/
4                             Fashor
                    ...
2868                          Tracxn
2869                            Dazo
2870                        Tradelab
2871                          PiQube
2872                 Travel Triangle
Name: startup_name, Length: 2821, dtype: object

In [38]:
# model=k_means(df[]n_clusters=4)

In [39]:
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor

In [40]:
from sklearn.preprocessing import LabelEncoder,OrdinalEncoder

In [57]:
le_startup_name=LabelEncoder()
le_industry_vertical=LabelEncoder()
le_subvertical=LabelEncoder()
le_city=LabelEncoder()
le_invester_name=LabelEncoder()
le_investment_type=LabelEncoder()

In [58]:
df=df[['startup_name','industry_vertical','subvertical','city','invester_name','investment_type']]

In [55]:
df.columns

Index(['startup_name', 'industry_vertical', 'subvertical', 'city',
       'invester_name', 'investment_type'],
      dtype='object')

In [53]:
le.fit_transform(df['startup_name'])

2821

In [54]:
le.classes_

2298